:root {
    --primary-color: #0093D4;
    --secondary-color: #B9E8FE;
    --tertiary-color: #07314A;
    --white-color: #FFFFFF;
    --black-color: #000000;


    /* font-size */
    --fs-h1: 64px;
    --fs-h2: 32px;
    --fs-h3: 28px;
    --fs-h4: 20px;
    --fs-body: 16px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    color: var(--tertiary-color);
}

.main_container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    overflow-x: hidden;
}

.customized_h4 {
    font-weight: 700;
    font-size: var(--fs-h4);
    line-height: 100%;
    text-transform: capitalize;
}

.customized_h2 {
    font-weight: 700;
    font-size: var(--fs-h2);
    line-height: 40px;
}

/* header styling begins */
header {
    background-image: url(images/header_background.webp);
    background-position: center;
    background-size: cover;
}
.menu_toggle {
    display: none;
    background: transparent;
    border: none;
}
nav {
    gap: 20px;
}

nav ul {
    gap: 20px;
    margin-bottom: 0;
}

nav ul li {
    list-style: none;
    display: flex;
}

nav ul li .nav_link {
    padding: 15px 10px;
    text-decoration: none;
    padding-bottom: 0;
    color: rgb(32 33 86);
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.nav_link::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background-color: rgb(32 33 86);
    transition: width 0.3s ease;
    margin-top: 5px;
}

.nav_link:hover::after {
    width: 100%;
}

.nav_link.active::after {
    width: 100%;
}

.cta {
    background-color: rgb(32 33 86);
    color: var(--white-color);
    padding: 15px 20px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
}

.cta:hover {
    background-color: var(--tertiary-color);
    color: var(--white-color);
    transition: all 0.3s ease;
}
